[submodule "scripts/gists/rsync_parallel"]
	path = scripts/gists/rsync_parallel
	url = git@github.com:7888068.git
[submodule "scripts/gists/pyp_beta"]
	path = scripts/gists/pyp_beta
	url = https://gist.github.com/apuignav/10508582
[submodule "scripts/gists/temp_shell"]
	path = scripts/gists/temp_shell
	url = git@gist.github.com:/f6f145c27f24ee302558.git
[submodule "scripts/gists/replace"]
	path = scripts/gists/replace
	url = git@gist.github.com:/ecdc950a9e4610b4cde2.git
[submodule "scripts/gists/summer-of-scripts"]
	path = scripts/gists/summer-of-scripts
	url = git@gist.github.com:/54cd2f75df01615172c0.git
[submodule "zsh/k"]
	path = zsh/k
	url = git@github.com:rimraf/k.git
[submodule "deploy/dotbot-brew"]
	path = deploy/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "deploy/dotbot"]
	path = deploy/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "scripts/gists/rename-mp3"]
	path = scripts/gists/rename-mp3
	url = git@gist.github.com:30db0abd8a6d1a7d20d6b076e4f5cd96.git
[submodule "scripts/backup"]
	path = scripts/backup
	url = git@github.com:apuignav/backup.git
[submodule "scripts/gists/to_timestamp"]
	path = scripts/gists/to_timestamp
	url = https://gist.github.com/apuignav/76df48fa6c0e44832b7665b6bc99708d
