snippet myh "Write my usual header" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# =============================================================================
# @file   `!p snip.rv=snip.fn`
# @author Albert Puig (albert.puig@cern.ch)
# @date   `!p from time import strftime;snip.rv=strftime("%d.%m.%Y")`
# =============================================================================
"""${1}"""
${2}

# EOF
endsnippet